{%extends 'base.html.j2'%}
{%block title%}
    Register
{%endblock%}

{%block content%}
    <h1>Register</h1>
    <form action="{{url_for('register')}}" method='POST'>
        {{ form.hidden_tag() }}

            {# first #}
            {{form.first_name.label(class='form-label')}}
            {{form.first_name(class='form-control')}}

            {# last #}
            {{form.last_name.label(class='form-label')}}
            {{form.last_name(class='form-control')}}
            {# email #}
            {{form.email.label(class='form-label')}}
            {{form.email(class='form-control')}}
            {% for error in form.email.errors %}
                <small style="color:red;">{{error}}</small><br>
            {%endfor%}
            {# password #}
            {{form.password.label(class='form-label')}}
            {{form.password(class='form-control')}}
            {# confirm password #}
            {{form.confirm_password.label(class='form-label')}}
            {{form.confirm_password(class='form-control')}}
            {% for error in form.confirm_password.errors %}
                <small style="color:red;">{{error}}</small><br>
            {%endfor%}
            {# Submit #}    
                {{form.submit(class='btn btn-primary form-control')}}
    </form>
{%endblock%}